.Producer-Line {
  display: inline-flex;
  width: 100%;
  max-width: 52rem;
  height: 3rem;
  padding: .25rem;
  justify-content: center;
}

.Producer-Line p {
  line-height: 1.5rem;
  margin-top: .75rem;
}

.Producer-Line:hover {
  background-color: #eee;
}

.Producer-Line.heading p {
  font-family: 'Headland One', serif;
  font-weight: bold;
  text-decoration: underline;
}

.Producer-Line.heading:hover {
  background-color: white;
}

.Producer-Line div {
  display: inline-block;
  height: inherit;
}

.Producer-Line .icon {
  flex: 0 0 3rem;
}

.Producer-Line .icon img {
  height: 100%;
  border-radius: 50%;
}

.Producer-Line .name {
  flex: 0 1 15rem;
  text-align: left;
  margin-left: .5rem;
}

.Producer-Line .summary {
  flex: 0 1 25rem;
  text-align: left;
}

.Producer-Line .summary {
  display: none;
}

@media (min-width: 750px) {
  .Producer-Line .summary {
    display: inline-block;
  }
}

.Producer-Days {
  flex: 0 0 6rem;
}

.Producer-Days li {
  display: inline-block;
  line-height: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: .75rem;
  border-radius: 50%;
  color: white;
}

.Producer-Days .mon {
  background-color: #00999f;
}
.Producer-Days .wed {
  background-color: #4e8645;
}
.Producer-Days .fri {
  background-color: #d51969;
}
.Producer-Days .sat {
  background-color: #f7931e;
}
