.Prouct-Presences {
  display: inline-flex;
  flex-flow: row wrap;
}

.Prouct-Presences header {
  flex-basis: 100%;
}

.product-row-container {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 100%
}

.Product-Row {
  display: inline-block;
  /*flex-basis: 100%;*/
  width: 21.5rem;
  height: 3rem;
  padding: .25rem;
  /*justify-content: center;*/
  text-align: left;
}

.Product-Row p {
  line-height: 1.5rem;
  margin-top: .75rem;
}

.Product-Row:hover {
  background-color: #eee;
}

.Product-Row.heading p {
  font-family: 'Headland One', serif;
  font-weight: bold;
  text-decoration: underline;
}

.Product-Row.heading:hover {
  background-color: white;
}

.Product-Row div {
  display: inline-block;
  height: inherit;
  vertical-align: top;
}

.Product-Row .icon {
  width: 3rem;
}

.Product-Row .icon img {
  height: 100%;
  border-radius: 50%;
}

.Product-Row .name {
  width: 15rem;
  text-align: left;
  margin-left: .5rem;
}

.Product-Row .toggle-container {
  width: 0;
}

.Product-Row .toggle {
  height: 3rem;
  width: 3rem;
}

.Product-Row .chevron {
  margin: 1rem;
}
@media (min-width: 750px) {
  .Product-Row .summary {
    display: inline-block;
  }
}

.Product-Row .chevron-down:hover {
  animation: .3s chevron-down ease-in-out;
}

@keyframes chevron-down {
  50% {
    transform: translateY(.25rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.Product-Row .chevron-up:hover {
  animation: .3s chevron-up ease-in-out;
}

@keyframes chevron-up {
  50% {
    transform: translateY(-.25rem);
  }
  to {
    transform: translateY(0rem);
  }
}
