.Producer-Line {
  display: inline-flex;
  width: 100%;
  max-width: 52rem;
  height: 3rem;
  padding: .25rem;
  justify-content: center;
}

.Producer-Line p {
  line-height: 1.5rem;
  margin-top: .75rem;
}

.Producer-Line:hover {
  background-color: #eee;
}

.Producer-Line.heading p {
  font-family: 'Headland One', serif;
  font-weight: bold;
  text-decoration: underline;
}

.Producer-Line.heading:hover {
  background-color: white;
}

.Producer-Line div {
  display: inline-block;
  height: inherit;
}

.Producer-Line .icon {
  flex: 0 0 3rem;
}

.Producer-Line .icon img {
  height: 100%;
  border-radius: 50%;
}

.Producer-Line .name {
  flex: 0 1 15rem;
  text-align: left;
  margin-left: .5rem;
}

.Producer-Line .summary {
  flex: 0 1 25rem;
  text-align: left;
}

.Producer-Line .summary {
  display: none;
}

@media (min-width: 750px) {
  .Producer-Line .summary {
    display: inline-block;
  }
}
