.Producer-List {
  display: inline-flex;
  flex-flow: row wrap;
}

.Producer-List h2 {
  flex: 0 0 100%;
  margin-bottom: 2rem;
}

.Producer {
  flex: 0 0 25%;
}

@media (min-width: 900px) {
  .Producer {
    flex-basis: 16.6666667%;
  }
}
