@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-prev:before, .slick-next:before {
  color: black;
}

#Seasonal-List {
  padding-top: 6rem;
  padding-bottom: 4rem;
}

#Seasonal-List h2 {
  margin-bottom: 2rem;
}
