@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.producer {
  width: 25%;
  float: left;
}

img {
  width: 95%
}

.slick-prev:before, .slick-next:before {
  color: black;
}
