.hero {
  /*background-image: url('../../media/gorzynski2.png');*/
  background-color: #8cac88;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
}

.logo {
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 15rem;
}

h1 {
  color: white;
}

input {
  height: 2em;
  width: 50%;
  font-size: 1rem;
  opacity: 0.6;
  border-radius: 0.25rem;
  border-style: none;
  padding: 0.25rem;
  text-align: center;
}
