.hero {
  /*background-image: url('../../media/gorzynski2.png');*/
  background-color: #8cac88;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
  z-index: 1000;
  position: relative;
}

.logo {
  margin-top: 6rem;
  margin-bottom: 2rem;
  width: 15rem;
}

@media (min-width: 1200px) {
  .hero {
    height: 45rem;
  }
  .logo {
    margin-top: 10rem;
  }
}

.hero h1, .hero p {
  color: white;
}

input {
  height: 2em;
  width: 50%;
  font-size: 1rem;
  opacity: 0.6;
  border-radius: 0.25rem;
  border-style: none;
  padding: 0.25rem;
  text-align: center;
}
